{% extends "layouts/layout.html" %}
{% block title %}{{ mark["name"] }} - {% if course["courseCode"] %}{{ course["courseCode"] }} {% endif %}{{
course["name"] }} - CourseFolio{% endblock %}

{% include "components/navbar.html" %}

{% block body %}

<main class="content-navbar content-footer flex flex-col gap-2">
    <section class="course-header">
        <h1>{{ mark["name"] }}</h1>
        <p class="light-contrast">
            {% if course["courseCode"] %}{{ course["courseCode"] }} {% endif %}{{ course["name"] }}
        </p>
    </section>
    <section class="card">
        <h3>Mark</h3>
        <section class="mark-summary">
            <section class="mark-detail">
                <h1 id="mark-actual"></h1>
                <h4>Marks</h4>
            </section>
            <section class="mark-detail">
                <h1 id="mark-percentage"></h1>
                <h4>Grade</h4>
            </section>
            <section class="mark-detail">
                <h1 id="mark-achieved"></h1>
                <h4>Weight Achieved</h4>
            </section>
        </section>
    </section>
    <section class="mark-times">
        {% if mark["markType"] == "ASSIGNMENT" %}
        <section class="card mark-time span-2">
            <h4>Due</h4>
            <h1 id="endDate"></h1>
        </section>
        {% else %}
        {% if mark["startDate"] %}
        <section class="card mark-time">
            <h4>Starts</h4>
            <h1 id="startDate"></h1>
        </section>
        <section class="card mark-time">
            <h4>Ends</h4>
            <h1 id="endDate"></h1>
        </section>
        {% else %}
        <section class="card mark-time span-2">
            <h4>Ends</h4>
            <h1 id="endDate"></h1>
        </section>
        {% endif %}
        {% endif %}
    </section>
    <section class="flex flex-col items-center gap-1">
        <a href="/marks/{{ mark['id'] }}/update" class="w-20" title="Update Mark">
            <button class="btn btn-primary w-20">
                Update Mark
            </button>
        </a>
    </section>
    <section class="flex flex-col gap-05 items-center">
        <p class="text-center">
            <a href="/courses/{{ course['id'] }}/marks" class="link" title="Course Marks">
                Back to course marks
            </a>
        </p>
        <p class="text-center">
            <a href="/courses/{{ course['id'] }}" class="link" title="Course Homepage">
                Back to course homepage
            </a>
        </p>
    </section>
</main>

<script src="{{ url_for('static', path='js/utils/serialize.js') }}"></script>
<script>
    const mark = JSON.parse(serialize("{{ mark }}"))
    const course = JSON.parse(serialize("{{ course }}"))
</script>
<script src="{{ url_for('static', path='js/marks/mark.js') }}"></script>

{% include "components/footer.html" %}

{% endblock %}